        <div id="header">
            <img src="images/logo.png" alt="myCuisine" />
            <ul id="menu-nav">
                <li><a href="#">HOME</a></li>
                <li><a href="#">CONTACT</a></li>
                <li><a href="#">MENU</a></li>
                <li><a href="#">LOCATION</a></li>
                <li><a href="#">HOURS</a></li>
                <li><a href="#">AWARDS</a></li>
                <li><a href="#">REVIEWS</a></li>
            </ul>
            {{!-- <div id="posts">
                <!-- post template goes here -->
            </div> --}}
        </div>

<div class="" id="carousel-holder">
</div>

<div class="container-radio">
	<div class="radio">
		<input type="radio" name="reader" id="article" onClick="">
		<label for="article"></label>
		<input type="radio" name="reader" id="article" onClick="">
		<label for="article"></label>
		<input type="radio" name="reader" id="article" checked onClick="">
		<label for="article"></label>
		<input type="radio" name="reader" id="article" onClick="">
		<label for="article"></label>
		<input type="radio" name="reader" id="article" onClick="">
		<label for="article"></label>
	</div>
</div>


<div class="container clearfix" id="slogan">
	<h2>Your awesome company slogan goes right over here, we have the best food around"</h2>
	<h3>At vero eos et accusam et justo duo dolores et ea rebum.</h3>
	<img src="../images/home/slogan-stars.png" alt="slogan" class="" />
</div>

<div id="featured">
	<div class="container clearfix">
		
		<div id="section1"> {{!-- class="home-block" --}}
			<h2 id="title-font">CHEF'S RECOMMENDATIONS</h2>
			<div class="et_menu_item">
				{{!-- {{#reccomend}}
				<div class="thumb">
					<a href="/post/{{food.id}}">
                        <img src="{{food.img}}" class="item-image" width="56" height="56" data-id="{{food.id}}">
						<span class="overlay"></span>
                </a>
				</div>
				<h4 class="title"><a href="#">{{food.name}}</a></h4>
				<p>{{food.shortComment}}...</p>
				{{/reccomend}} --}}
			</div>
		</div>


		<div id="section2"> {{!-- class="home-block" --}}
			<h2 id="title-font">LOCATION AND HOURS OF OPERATION</h2>
			<div id="gmaps-border">
				<div id="gmaps-container-1"></div>
			</div>
			<span class="hours_of_work">
				Mon-Fr
			</span>
			<span class="work_hours_text">8am-6pm</span>
			<span class="hours_of_work">
				Sat-Sun
			</span>
			<span class="work_hours_text">8am-10pm</span>
		</div>

		<div id="section3"> {{!-- class="home-block last" --}}
			<h2 id="title-font">CUSTOMER TESTIMONIALS</h2>
			<div id="review-wrapper">
				{{!-- {{#comment}} --}}
				<div class="comm-top">
					<div class="com-bottom">
						<div class="com-container">
							<div class="comment-wrap">
								<div class="thumb">
									{{!-- <img width="56" height="56" class="item-image" src="{{com.img}}">
									<span class="overlay"></span>
								</div>
								<p class="author">
									{{com.name}}
								</p>
								<p class="short-comment">{{com.shortComment}}</p> --}}
							</div>
						</div>
					</div>
				</div>
				{{!-- {{#comment}} --}}
			</div>
		</div>
	</div>
</div>